{% extends "base.html" %}

{% block title %}Add Book{% endblock %}

{% block content %}
<h2>Add Book</h2>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('main.add_book') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}<br>
        {% for error in form.title.errors %}
            <small class="error">{{ error }}</small>
        {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(size=32) }}<br>
        {% for error in form.author.errors %}
            <small class="error">{{ error }}</small>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image() }}<br>
        {% for error in form.image.errors %}
            <small class="error">{{ error }}</small>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}
